@{
    ViewBag.Title = "Index";
}


<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>

    <meta charset="utf-8">
    <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
    <link rel="stylesheet" href="app/css/app.css">
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/angular.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/app/js/controllers.js"></script>
</head>
<body>
    Search:
    <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-age">Oldest</option>
    </select>

    Current sort: {{orderProp}}
    <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">{{phone.name}}
    <p>{{phone.snippet}}</p>
        </li>
    </ul>
    {{phones | json}}
</body>
</html>
